/* Zabezpečenie, aby stránka zaberala 100% výšky */
html, body {
    height: 100%;  /* Určíme, že html a body budú mať výšku 100% */
    margin: 0;     /* Odstránime predvolené okraje */
    display: flex;
    flex-direction: column;
}

/* Hlavný obsah stránky */
main {
    flex: 1;  /* Tento blok zaberie všetok dostupný priestor */
    padding: 15px;
}

/* Kontajner pre celú stránku */
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: right;
}
h2 {
    display: flex;
    justify-content: center;
    color: #710000;
    font-size: 2rem;
    font-weight: 800;
    padding: 20px;
}

h3{
    display: flex;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
}

.tabulka {
    display: flex;
    width: 20rem;
    justify-content: center;
    background-color: #710000;
    color: aliceblue;
    text-align: center;
    padding: 0.2rem;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.error {
    color: red;
}
input.error {
    color: black;
    border: 1px solid red;
}

.div-center {
    display: flex;
    justify-content: center;}

.button{
    border: 2px solid black; /* Čierny okraj */
    padding: 10px 20px; /* Pridanie vnútorného odsadenia */
    background-color: #007bff; /* Farba pozadia tlačidla (môžeš prispôsobiť) */
    color: white; /* Farba textu */
    border-radius: 5px; /* Zaoblené rohy */
}

aside {
    justify-content: flex-start; /* Text bude hore */
    align-items: flex-start; /* Zarovná všetky deti (napríklad texty v tabuľkách) na začiatok */
    flex-direction: column;
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, black 60%, #710000 100%);
    color: whitesmoke;
    padding: 10px; /* Voliteľné, na pridanie medzery okolo textu */
}

.tables-container {
    display: flex; /* Umožní umiestnenie tabuliek vedľa seba */
    justify-content: space-between; /* Rozdelí tabulky na maximálny možný priestor */
    width: 100%; /* Tabuľky zaberú celú šírku rodiča */
    padding: 8px;
}

.playerDet {

    width: 48%; /* Každá tabuľka zaberie 48% šírky rodiča (zabezpečí medzi nimi trochu medzery) */
    border-collapse: collapse; /* Zabezpečí, že tabuľka bude mať čistý vzhľad bez medzier medzi bunkami */
    margin: 0;
}

.playerDet th, .playerDet td {
    padding: 2px; /* Pridá trochu paddingu do tabuliek pre lepšie rozmiestnenie textu */
    /*border: 1px solid #ddd; !* Zabezpečí okraje medzi bunkami tabuliek *!*/
}

.playerDet th {
    text-align: left; /* Zarovná názvy stĺpcov naľavo */
}

.playerDet td {
    text-align: left; /* Zarovná údaje naľavo */
}

.photo {
    width: 60%; /* Nastaví šírku divu na 100% šírky obrazovky */
    overflow: hidden; /* Skryje akýkoľvek obsah, ktorý presahuje hranice divu */
    margin-top: 50px;
}

.photo img {
    width: 100%; /* Obrázok sa prispôsobí šírke divu */
    height: 100%; /* Obrázok sa prispôsobí výške divu */
    object-fit: cover; /* Zachová pomer strán obrázka a vyplní celý div, pričom nebude zdeformovaný */

}

.tenisuj {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    /*justify-content: center;*/
    padding: 0;
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
}

.image-container img {
    width: 100%; /*Nastaví šírku obrázka na 100% šírky rodičovského kontajnera (image-container).*/
    height: 100%; /* Nastaví výšku obrázka na 100% výšky rodičovského kontajnera. */
    object-fit: cover; /* Tento príkaz zabezpečí, že obrázok pokryje celú plochu kontajnera, ale zachová svoj pomer strán. Časť obrázka môže byť orezaná, aby zapadol do priestoru. */
    position: absolute; /* Nastaví pozíciu obrázka ako absolútnu, čo znamená, že sa bude umiestňovať voči najbližšiemu rodičovi s relatívnou pozíciou. */
    top: 0; /* Nastaví obrázok na horný okraj rodičovského kontajnera. */
    left: 0; /* Nastaví obrázok na ľavý okraj rodičovského kontajnera. */
    z-index: 1;  /* Určuje, že obrázok bude mať nižšiu vrstvu ako gradient, ktorý bude mať vyšší z-index (2), čím bude gradient zobrazený nad obrázkom). */
}

.image-container:before {
    content: ''; /* Tento príkaz vytvára obsah pre pseudo-element. V tomto prípade je prázdny reťazec, takže sa nezobrazí žiadny text. */
    position: absolute; /* Nastaví pozíciu pseudo-elementu ako absolútnu, podobne ako obrázok. */
    top: 0; /* Umiestni pseudo-element na horný okraj rodičovského kontajnera. */
    left: 0; /* Umiestni pseudo-element na ľavý okraj rodičovského kontajnera. */
    right: 0; /* Umiestni pseudo-element na pravý okraj rodičovského kontajnera. */
    bottom: 0; /* Umiestni pseudo-element na dolný okraj rodičovského kontajnera. */
    background: linear-gradient(to right, #710000 0%, rgba(0, 0, 0, 0) 75%); /* Vytvára lineárny gradient zľava doprava. Začína čiernou farbou (rgba(0, 0, 0, 1)) a postupne prechádza do priesvitnej farby (rgba(0, 0, 0, 0)), čím vytvára efekt stmavenia na ľavej strane obrázka. */
    z-index: 2; /* Nastavuje z-index na vyššiu hodnotu (2), čím zabezpečí, že tento gradient bude nad obrázkom, ktorý má z-index 1. */
}
.time-row {
    display: flex;
    justify-content: space-evenly;
}

.time-slot {
    margin: 0 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

.reserved {
    background-color: red;
    color: white;
}

.free {
    background-color: green;
    color: white;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
        cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
        width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
        opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
        --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }
}

.checkbox-wrapper-13 * {
    box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
    box-sizing: inherit;
}
