/* Zabezpečenie, aby stránka zaberala 100% výšky */
html, body {
    height: 100%;  /* Určíme, že html a body budú mať výšku 100% */
    margin: 0;     /* Odstránime predvolené okraje */
    display: flex;
    flex-direction: column;
}

/* Hlavný obsah stránky */
main {
    flex: 1;  /* Tento blok zaberie všetok dostupný priestor */
    padding: 15px;
}

/* Kontajner pre celú stránku */
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: right;
}
h2 {
    display: flex;
    justify-content: center;
    color: #710000;
    font-size: 2rem;
    font-weight: 800;
    padding: 20px;
}

h3{
    display: flex;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
}

.tabulka {
    display: flex;
    width: 20rem;
    justify-content: center;
    background-color: #710000;
    color: aliceblue;
    text-align: center;
    padding: 0.2rem;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.error {
    color: red;
}
input.error {
    color: black;
    border: 1px solid red;
}

.div-center {
    display: flex;
    justify-content: center;}

.button{
    border: 2px solid black; /* Čierny okraj */
    padding: 10px 20px; /* Pridanie vnútorného odsadenia */
    background-color: #007bff; /* Farba pozadia tlačidla */
    color: white; /* Farba textu */
    border-radius: 5px; /* Zaoblené rohy */
}

aside {
    justify-content: flex-start; /* Text bude hore */
    align-items: flex-start; /* Zarovná všetky deti (napríklad texty v tabuľkách) na začiatok */
    flex-direction: column;
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, black 60%, #710000 100%);
    color: whitesmoke;
    padding: 10px; /* Voliteľné, na pridanie medzery okolo textu */
}

.tables-container {
    /*display: flex; !* Umožní umiestnenie tabuliek vedľa seba *!*/
    justify-content: space-between; /* Rozdelí tabulky na maximálny možný priestor */
    width: 100%; /* Tabuľky zaberú celú šírku rodiča */
    padding: 8px;
}

.playerDet {

    width: 48%; /* Každá tabuľka zaberie 48% šírky rodiča (zabezpečí medzi nimi trochu medzery) */
    border-collapse: collapse; /* Zabezpečí, že tabuľka bude mať čistý vzhľad bez medzier medzi bunkami */
    margin: 0;
}

.playerDet th, .playerDet td {
    padding: 2px; /* Pridá trochu paddingu do tabuliek pre lepšie rozmiestnenie textu */
    /*border: 1px solid #ddd; !* Zabezpečí okraje medzi bunkami tabuliek *!*/
}

.playerDet th {
    text-align: left; /* Zarovná názvy stĺpcov naľavo */
}

.playerDet td {
    text-align: left; /* Zarovná údaje naľavo */
}

.photo {
    width: 60%; /* Nastaví šírku divu na 100% šírky obrazovky */
    overflow: hidden; /* Skryje akýkoľvek obsah, ktorý presahuje hranice divu */
    margin-top: 50px;
}

.photo img {
    width: 100%; /* Obrázok sa prispôsobí šírke divu */
    height: 100%; /* Obrázok sa prispôsobí výške divu */
    object-fit: cover; /* Zachová pomer strán obrázka a vyplní celý div, pričom nebude zdeformovaný */

}

.tenisuj {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    /*justify-content: center;*/
    padding: 0;
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
}

.image-container img {
    width: 100%; /*Nastaví šírku obrázka na 100% šírky rodičovského kontajnera (image-container).*/
    height: 100%; /* Nastaví výšku obrázka na 100% výšky rodičovského kontajnera. */
    object-fit: cover; /* Tento príkaz zabezpečí, že obrázok pokryje celú plochu kontajnera, ale zachová svoj pomer strán. Časť obrázka môže byť orezaná, aby zapadol do priestoru. */
    position: absolute; /* Nastaví pozíciu obrázka ako absolútnu, čo znamená, že sa bude umiestňovať voči najbližšiemu rodičovi s relatívnou pozíciou. */
    top: 0; /* Nastaví obrázok na horný okraj rodičovského kontajnera. */
    left: 0; /* Nastaví obrázok na ľavý okraj rodičovského kontajnera. */
    z-index: 1;  /* Určuje, že obrázok bude mať nižšiu vrstvu ako gradient, ktorý bude mať vyšší z-index (2), čím bude gradient zobrazený nad obrázkom). */
}

.image-container:before {
    content: ''; /* Tento príkaz vytvára obsah pre pseudo-element. V tomto prípade je prázdny reťazec, takže sa nezobrazí žiadny text. */
    position: absolute; /* Nastaví pozíciu pseudo-elementu ako absolútnu, podobne ako obrázok. */
    top: 0; /* Umiestni pseudo-element na horný okraj rodičovského kontajnera. */
    left: 0; /* Umiestni pseudo-element na ľavý okraj rodičovského kontajnera. */
    right: 0; /* Umiestni pseudo-element na pravý okraj rodičovského kontajnera. */
    bottom: 0; /* Umiestni pseudo-element na dolný okraj rodičovského kontajnera. */
    background: linear-gradient(to right, #710000 0%, rgba(0, 0, 0, 0) 75%); /* Vytvára lineárny gradient zľava doprava. Začína čiernou farbou (rgba(0, 0, 0, 1)) a postupne prechádza do priesvitnej farby (rgba(0, 0, 0, 0)), čím vytvára efekt stmavenia na ľavej strane obrázka. */
    z-index: 2; /* Nastavuje z-index na vyššiu hodnotu (2), čím zabezpečí, že tento gradient bude nad obrázkom, ktorý má z-index 1. */
}
.time-row {
    display: flex;
    justify-content: space-evenly;
}

.time-slot {
    margin: 0 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}
.pending {
    background-color: orange;
    color: white;
}

.approved {
    background-color: red;
    color: white;
}

.free {
    background-color: green;
    color: white;
}
