<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageTitle} ? ${pageTitle} : 'default title'"></title>
  <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <style></style>

</head>

<body>
<div class="page-wrapper">


  <header>
    <div id="menu" th:insert="~{fragments/menu :: menu}"></div>
  </header>

  <main>

    <h2 th:text="${pageTitle}" class="mb-4"></h2>
    <div th:if="${successMessage != null}" class="alert alert-info mt-3">
      <span th:text="${successMessage}"></span>
    </div>
    <div th:switch="${#lists.size(finishedLeagues)}">
      <h4>Archive</h4>
      <p th:case="0">No leagues</p>
      <div th:case="*">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>League name</th>
            <th>Number of Players</th>
            <th>Winner</th>
            <th>Details</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="league : ${finishedLeagues}">
            <td th:text="${league.name}"></td>
            <td th:text="${league.players.size()}"></td>
            <td th:text="${league.winner.firstName+' '+league.winner.lastName}"></td>
            <td>
              <form method="get" th:action="@{/leagues/details/{id}(id=${league.id})}">
                <button type="submit">League details</button>
              </form>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <form th:action="@{/leagues/deleteLeague}" method="POST">
                <input type="hidden" name="leagueId" th:value="${league.id}">
                <button type="submit" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <footer>
    <a th:text="${#authentication.name}"></a>
  </footer>
</div>
</body>
</html>