<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ? ${pageTitle} : 'default title'"></title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style></style>

</head>

<body>


<header>
    <div id="menu" th:insert="~{fragments/menu :: menu}"></div>
</header>

<main class="tenisuj">
    <aside>
        <div class="tables-container">
            <h2>Tenisuj-sk</h2>
            <!--            <h3 th:text="${home}"></h3>-->
        </div>
        <div class="survey-container">
            <h3>Who from big four?</h3>
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>


            <form class="survey-form" action="#" th:action="@{/tenisuj/vote}" method="post">
                <div>
                    <label>
                        <input type="radio" name="name" value="Roger"/> Roger Federer-
                        <span th:text="${votesRoger.vote}"></span>-votes
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="name" value="Rafa"/> Rafael Nadal-
                        <span th:text="${votesRafa.vote}"></span>-votes
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="name" value="Novak"/> Novak Djokovic-
                        <span th:text="${votesNovak.vote}"></span>-votes
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="name" value="Marek"/> Marek Krnčok-
                        <span th:text="${votesMarek.vote}"></span>-votes
                    </label>
                    <br>
                </div>
                <div>
                    <button type="submit">Send</button>
                </div>
            </form>

            <div th:if="${success}">
                <h3 th:text="${success}"></h3>
            </div>

        </div>
        <div class="photo">
            <img src="/images/69_silhout.jpg" alt="Your Photo">
        </div>
    </aside>
    <div class="image-container">
        <img src="/images/tennis.jpg" alt="Your Image">
    </div>

</main>

<footer>
    <a th:text="${#authentication.name}"></a>
</footer>


</body>
</html>